<div class="h-600px w-100 background-image-customervote" >
    <div class="h-100px w-100 d-flex justify-content-center align-items-center">
        <h4 class="font-weight-bold text-white">Khách Hàng Bình Chọn</h4>
    </div>
    <div class="container h-500px w-100">
        <div class="h-250px w-100 d-flex justify-content-between ">
            <div class="h-200px w-200px p-1 bg-light">
                <img src="../../static/image/lightning.jpg" class="img-customer">
            </div>
            <div class="h-200px w-200px p-1 bg-light">
                <img src="../../static/image/rocks.jpg" class="img-customer">
            </div>
            <div class="h-200px w-200px p-1 bg-light">
                <img src="../../static/image/steel.jpg" class="img-customer">
            </div>
            <div class="h-200px w-200px p-1 bg-light">
                <img src="../../static/image/woods.jpg" class="img-customer">
            </div>
        </div>
        <div class="h-250px w-100 d-flex justify-content-between ">
            <div class="h-200px w-200px p-1 bg-light">
                <img src="../../static/image/steel.jpg" class="img-customer">
            </div>
            <div class="h-200px w-200px p-1 bg-light">
                <img src="../../static/image/woods.jpg" class="img-customer">
            </div>
            <div class="h-200px w-200px p-1 bg-light">
                <img src="../../static/image/lightning.jpg" class="img-customer">
            </div>
            <div class="h-200px w-200px p-1 bg-light">
                <img src="../../static/image/rocks.jpg" class="img-customer">
            </div>
        </div>
        
    </div>
</div>