<div class="h-500px w-100 container">
    <div class="h-100px w-100 d-flex align-items-center">
        <h4 class=" w-100 text-center font-weight-bold">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h4>
    </div>
    <div class="h-100px w-100 d-flex align-items-center">
        <p class="w-100 text-center font-lobster">" Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gian đình người thân trong khi vẫn giữ được sự 
            tự do và riêng tư,<br> cũng như quyết định của bản thân bạn " </p> 
    </div>
    <div class="h-300px w-100 d-flex justify-content-between">
        <div class="col-md-5 h-250px d-flex justify-content-end align-items-center" style="background-image: url(../../static/image/female.jpg); background-size: 100% 100%;">
            <p class="font-weight-bold text-white mr-5">Bạn là Nam</p>
        </div>
        <div class="col-md-5 h-250px d-flex align-items-center" style="background-image: url(../../static/image/male.jpg); background-size: 100% 100%;">
            <p class="font-weight-bold text-white ml-5">Bạn là Nữ</p>
        </div>
    </div>
</div>