<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Service</title>
</head>
<body>
    <h1>Create new service</h1>
    <form method="post">
        <label>Tên: </label>
        <input type="text" name="name"><br>

        <label>Yob: </label>
        <input type="text" name="yob"><br>

        <label><input type="radio" name="gender" value="1">Male</label>
        <label><input type="radio" name="gender" value="0" >Female</label><br>

        <label>Height</label>
        <input type="text" name="height"><br>

        <label>Phone number: </label>
        <input type="text" name="phone"><br>

        <label>Address</label>
        <input type="text" name="address"><br>

        <label>Miêu tả: </label>
        <input type="text" name="description"><br>

        <label>Số đo 3 vòng: </label>
        <input type="text" name="measurements"><br>

        <label>Ảnh: </label>
        <input type="text" name="image"><br>
        
        <label>Status: </label>
        <label><input type="radio" name="status" value= "True"> Rảnh</label>
        <label><input type="radio" name="status" value= "False"> Bận</label>
        

        <button type="submit">Gửi</button>
    </form>
</body>
</html>